langgraph
langchain
langchain-community
langchainhub
langchain-cohere
langchain-openai
chromadb
tiktoken
networkx
tavily-python
sentence-transformers
beautifulsoup4
requests
lxml
markdown
deepeval
python-dotenv
pydantic
tqdm
hf
"llama-cpp-python @ git+https://github.com/JamePeng/llama-cpp-python.git"
fastapi
uvicorn
python-multipart
jinja2
PyPDF2