langgraph
chromadb
networkx
beautifulsoup4
requests
markdown
lxml
python-dotenv
pydantic
tqdm
hf
fastapi
uvicorn
python-multipart
jinja2
PyPDF2
llama-cpp-python @ git+https://github.com/JamePeng/llama-cpp-python.git